    //design for left bar.
    .left-bar {
        position: sticky;
        top: 0px;
        z-index: 4;
        width: 100%;
    }
    
    //puts the nav-bar toggler above the bg and fg elements
    .navbar-toggler {
        z-index: 2;
    }
    
    //main navigation div
    .nav-div {
        nav {
            //sets fixed height and width and circular borders to the toggler
            .navbar-toggler {
                border-radius: 50%;
                i {
                    height: 25px;
                    width: 25px;
                }
            }
            //sets the behavior of the collapsed content, for it to be in the top of the 'virtual stack' of elements
            .navbar-collapse {
                z-index: 3;
                position: absolute;
                background-color: rgb(233, 233, 233);
                top: 0;
                right: 100%;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
                height: 100vh;
                width: 70%;
                transition: all 0.3s ease;
                display: inline-block;
            }
            //transition for toggler-click
            .navbar-collapse.collapsing {
                height: auto !important;
                margin-right: 50%;
                transition: all 0.3s ease;
                display: inline-block;
            }
            .navbar-collapse.show {
                right: 30%;
            }
        }
    }
    
    //color of twitter icon
    .fa-twitter {
        color: rgb(70, 139, 228) !important;
    }
    
    //individual nav items from the left bar menu
    .nav-item {
        a {
            color: black !important;
        }
        a:hover {
            color: rgb(70, 139, 228) !important;
        }
        //layout for "tweet" button on the left bar
        .nav-tweet {
            border-radius: 50px;
            width: 70%;
            margin-left: 15%;
            .fa-feather-alt {
                display: none;
            }
        }
    }
    
    //behavior of active elements in the bootstrap navbar
    .active {
        a {
            color: rgb(70, 139, 228) !important;
        }
    }
    
    //layout for nav menu in the desktop to overtop the uncollapsed content in the mobile layout
    .desktop-menu {
        z-index: 3;
        display: none;
    }
    
    //components to display for desktop only
    .desktop-component {
        display: none;
    }
    
    //Main bar
    .main-bar {
        overflow-x: hidden;
        border-left: 1px solid rgb(207, 207, 207);
        border-right: 1px solid rgb(207, 207, 207);
        width: 100%;
    }
    
    //Main tweet block, similar to the post block but differing in the fixed form for the user's tweet content"
    .tweet-block {
        border-top: 1px solid rgb(207, 207, 207);
        position: relative;
        .userPhoto {
            margin-top: 10px;
            position: absolute;
            padding-top: 10px;
            padding-left: 10px;
        }
        #tweet-form {
            margin-top: 10px;
            padding-left: 65px;
            overflow: hidden;
            .tweet-media {
                position: relative;
                overflow: hidden;
                display: inline-block;
                list-style-type: none;
                padding-top: 10px;
                padding-left: 0;
                margin-bottom: 0;
                .media-item {
                    float: left;
                    padding-right: 30px;
                }
            }
            .btn-tweet {
                float: right;
                position: relative;
                margin-bottom: 10px;
                margin-right: 10px;
            }
        }
    }
    
    //icons in the tweet-block
    .fa-image,
    .fa-poll-h,
    .fa-clock {
        color: rgb(70, 139, 228) !important;
    }
    
    //behavior of all circular user photo from the tweets, following, and other components of the webpage.
    .userPhoto {
        position: relative;
        overflow: hidden;
        background-color: rgb(179, 179, 179);
        border-radius: 50%;
        img {
            position: relative;
            transform: translate(-20%, -25%);
            height: 55px;
            width: 50px;
        }
        height: 50px;
        width: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    //main layout for the post, sets padding, spacing, and positioning elements to match the twitter's layout
    .post-block {
        border-top: 1px solid rgb(207, 207, 207);
        position: relative;
        line-height: 15pt;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        .userPhoto {
            position: absolute;
            padding-top: 10px;
            padding-left: 10px;
        }
        .tweetContent {
            padding-left: 65px;
            padding-right: 15px;
            .tweet-img {
                max-height: 95%;
                max-width: 95%;
                margin-bottom: 15px;
            }
            p {
                text-align: justify;
            }
        }
        .tweetActions {
            position: relative;
            padding-left: 65px;
            display: inline-block;
            a {
                margin-right: 10px;
            }
        }
    }
    
    //fits image to the circular div content
    .userPhoto>img {
        object-fit: contain;
    }
    
    //hides the right bar in mobile widths
    .right-bar,
    .desktop-component {
        display: none;
    }
    
    //Media query for the desktop components
    @media only screen and (min-width: 576px) {
        //sets leftbar to 100% view height to always cover full height in desktop
        .left-bar {
            height: 100vh;
            overflow: auto;
        }
        //hides mobile only content
        .mobile-only {
            display: none;
        }
        .navbar {
            position: relative;
        }
        //overwrites the none display of desktop components in the mobile selectors
        .desktop-component {
            display: inline-block;
        }
        .header-tab {
            padding: 20px 20px 10px 20px;
            display: flex;
        }
        .nav-item {
            .nav-tweet {
                width: 90%;
            }
        }
        .desktop-menu {
            position: absolute;
            display: inline-block;
            top: 0;
            right: 32%;
            height: 100vh;
        }
        //hides togglers and collapse from the mobile layout
        .navbar-collapse,
        .navbar-toggler {
            display: none;
        }
        //overwrites the none display of right-bar component in the mobile selectors. Layouts the positioning of the follow-recommendations and trending bar
        .right-bar {
            display: inline-block;
            .right-component {
                margin: 20px;
                border-radius: 20px;
                overflow: hidden;
                .list-group-item {
                    background-color: rgb(233, 233, 233) !important;
                }
                .list-group {
                    .list-group-item {
                        padding-top: 23px;
                        padding-bottom: 7px;
                        overflow: hidden;
                        position: relative;
                        .trend-component {
                            position: absolute;
                            top: 5px;
                        }
                    }
                }
            }
            .search-bar {
                .navbar {
                    background-color: rgb(233, 233, 233) !important;
                    form {
                        padding-left: 25px;
                    }
                }
            }
        }
        //search icon beside the search form
        .fa-search {
            position: absolute;
            padding-right: 15px;
        }
        //a component in the desktop that shows the current user, uses absolute positioning in the lower left of the page.
        .left-profile-block {
            position: absolute;
            bottom: 4%;
            right: 13%;
            overflow: hidden;
            .userPhoto {
                float: left;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                margin-top: 5px;
                margin-left: 5px;
                padding-right: 10px;
            }
            .userContent {
                position: relative;
                padding-left: 40px;
                padding-top: 5px;
                h6 {
                    padding-right: 20px;
                }
                .profile-caret {
                    position: absolute;
                    top: 4px;
                    right: 0px;
                }
            }
        }
        //general "profile block" for the follow-recommendation and the left profile block
        .profile-block {
            .userPhoto {
                float: left;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                margin-top: 5px;
                margin-left: 5px;
                padding-left: 5px;
                padding-right: 10px;
            }
            .userContent {
                position: relative;
                padding-left: 40px;
                padding-top: 5px;
                h6 {
                    padding-right: 20px;
                }
                .profile-caret {
                    position: absolute;
                    top: 4px;
                    right: 0px;
                }
            }
        }
        .follow-recommendation-bar {
            position: -webkit- sticky;
            position: sticky;
            top: 0;
        }
    }
    
    //Label responsiveness for small widths
    @media only screen and (min-width: 576px) and (max-width: 875px) {
        .nav-label {
            display: none;
        }
        .nav-item {
            .nav-tweet {
                border-radius: 50%;
                margin-left: 0px;
                height: 40px;
                width: 50px;
                .fa-feather-alt {
                    display: inline-block;
                }
            }
        }
        .left-profile-block {
            right: 43%;
            .userContent {
                display: none;
            }
        }
    }
    
    //Height constraint to avoid the absolute positioning of left profile block to overtop the nav bar in low-height devices
    @media only screen and (max-height: 600px) {
        .left-profile-block {
            display: none;
        }
    }