    .left-bar {
        background-color: aquamarine;
        position: sticky;
        top: 0px;
        z-index: 4;
        width: 100%;
    }
    
    .navbar-toggler {
        z-index: 2;
    }
    
    .nav-div {
        nav {
            .navbar-toggler {
                border-radius: 50%;
                i {
                    height: 25px;
                    width: 25px;
                }
            }
            .navbar-collapse {
                z-index: 3;
                position: absolute;
                background-color: rgb(221, 221, 221);
                top: 0;
                right: 100%;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
                height: 100vh;
                width: 70%;
                transition: all 0.3s ease;
                display: inline-block;
            }
            .navbar-collapse.collapsing {
                height: auto !important;
                margin-right: 50%;
                transition: all 0.3s ease;
                display: inline-block;
            }
            .navbar-collapse.show {
                right: 30%;
            }
        }
    }
    
    .fa-twitter {
        color: rgb(70, 139, 228) !important;
    }
    
    .nav-item {
        border: 1px solid black;
        a {
            color: black !important;
        }
        a:hover {
            color: rgb(70, 139, 228) !important;
        }
        .nav-tweet {
            border-radius: 50px;
            width: 70%;
            margin-left: 15%;
            .fa-feather-alt {
                display: none;
            }
        }
    }
    
    .desktop-menu {
        z-index: 3;
        display: none;
    }
    
    .desktop-component {
        display: none;
    }
    
    //Main bar
    .main-bar {
        overflow-x: hidden;
        width: 100%;
    }
    
    .tweet-block {
        border: 1px solid red;
        position: relative;
        .userPhoto {
            position: absolute;
            padding-top: 10px;
            padding-left: 10px;
            height: 40px;
            width: 40px;
        }
        #tweet-form {
            padding-left: 65px;
            overflow: hidden;
            .tweet-media {
                border: 1px solid black;
                position: relative;
                overflow: hidden;
                display: inline-block;
                list-style-type: none;
                padding-top: 10px;
                padding-left: 0;
                margin-bottom: 0;
                .media-item {
                    float: left;
                    padding-right: 30px;
                }
            }
            .btn-tweet {
                border: 1px solid black;
                float: right;
                position: relative;
                margin-bottom: 10px;
                margin-right: 10px;
            }
        }
    }
    
    .post-block {
        border: 1px solid red;
        position: relative;
        line-height: 15pt;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        .userPhoto {
            position: absolute;
            height: 40px;
            width: 40px;
            padding-top: 10px;
            padding-left: 10px;
        }
        .tweetContent {
            padding-left: 65px;
            padding-right: 15px;
            .tweet-img {
                max-height: 95%;
                max-width: 95%;
                margin-bottom: 15px;
            }
            p {
                text-align: justify;
            }
        }
        .tweetActions {
            position: relative;
            padding-left: 65px;
            display: inline-block;
            a {
                margin-right: 10px;
            }
        }
    }
    
    .right-bar,
    .desktop-component {
        display: none;
    }
    
    @media only screen and (min-width: 576px) {
        .left-bar {
            height: 100vh;
            overflow: auto;
        }
        .mobile-only {
            display: none;
        }
        .navbar {
            position: relative;
            background-color: aquamarine !important;
        }
        .desktop-component {
            display: inline-block;
        }
        .header-tab {
            padding: 20px 20px 10px 20px;
            display: flex;
        }
        .nav-item {
            .nav-tweet {
                width: 90%;
            }
        }
        .desktop-menu {
            position: absolute;
            display: inline-block;
            top: 0;
            right: 32%;
            height: 100vh;
        }
        .navbar-collapse,
        .navbar-toggler {
            display: none;
        }
        .right-bar {
            display: inline-block;
            .right-component {
                margin: 20px;
                border-radius: 20px;
                overflow: hidden;
                .list-group-item {
                    background-color: rgb(233, 233, 233) !important;
                }
                .list-group {
                    .list-group-item {
                        padding-top: 23px;
                        padding-bottom: 7px;
                        overflow: hidden;
                        position: relative;
                        .trend-component {
                            position: absolute;
                            top: 5px;
                        }
                    }
                }
            }
            .search-bar {
                .navbar {
                    background-color: rgb(233, 233, 233) !important;
                    form {
                        padding-left: 25px;
                    }
                }
            }
        }
        .fa-search {
            position: absolute;
            padding-right: 15px;
        }
        .left-profile-block {
            position: absolute;
            bottom: 4%;
            right: 13%;
            overflow: hidden;
            border: 1px solid black;
            .userPhoto {
                float: left;
                border: 1px solid red;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                margin-top: 5px;
                margin-left: 5px;
                padding-right: 10px;
            }
            .userContent {
                position: relative;
                border: 1px solid green;
                padding-left: 40px;
                padding-top: 5px;
                h6 {
                    padding-right: 20px;
                }
                .profile-caret {
                    position: absolute;
                    top: 4px;
                    right: 0px;
                }
            }
        }
        .profile-block {
            .userPhoto {
                float: left;
                border: 1px solid red;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                margin-top: 5px;
                margin-left: 5px;
                padding-right: 10px;
            }
            .userContent {
                position: relative;
                border: 1px solid green;
                padding-left: 40px;
                padding-top: 5px;
                h6 {
                    padding-right: 20px;
                }
                .profile-caret {
                    position: absolute;
                    top: 4px;
                    right: 0px;
                }
            }
        }
        .follow-recommendation-bar {
            position: -webkit- sticky;
            position: sticky;
            top: 0;
        }
    }
    
    //Label responsiveness
    @media only screen and (min-width: 576px) and (max-width: 875px) {
        .nav-label {
            display: none;
        }
        .nav-item {
            .nav-tweet {
                border-radius: 50%;
                margin-left: 0px;
                height: 40px;
                width: 50px;
                .fa-feather-alt {
                    display: inline-block;
                }
            }
        }
        .left-profile-block {
            right: 43%;
            .userContent {
                display: none;
            }
        }
    }
    
    //Height constraint
    @media only screen and (max-height: 625px) {
        .left-profile-block {
            display: none;
        }
    }